@import url(/css/global.css);

.logo {
  width: 60px;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 5px;
  border: none;
}
.button {
  width: 60px;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-radius: 1em;
  border: none;
}
.fs_menu li {
  position: relative;
}
a {
  text-decoration: none;
}

@media (max-width: 799px) {
  .fs_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1%;
    right: 25%;
    list-style: none;
    background-color: #dbb709;
    width: 50%;
    padding: 0.1em 0;
    align-items: center;
    border: 1px solid black;
    z-index: 1;
  }
  .fs_menu.show {
    display: flex;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    padding: 0.5em;
  }
  .fs_menu li {
    width: 100%; /* Gør hver li til 100% bredde */
    text-align: center; /* Centrer teksten */
    padding: 1em 0;
    margin: 0;
  }
  /*   .fs_menu li:not(:last-child)::after {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: black;
  } */
  .fs_menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: black;
  }
  /* HTML:

En burger-menu div er tilføjet til at fungere som menuikonet.
fs_menu er den faktiske menu, som vil blive vist/skjult ved klik på burgermenu-ikonet.
CSS:

Grundlæggende styling for header og menu.
burger-menu er skjult som standard og vises kun på mindre skærme (max-width: 768px).
Menuen (fs_menu) er skjult på mindre skærme og vises kun, når burgermenuen klikkes.
JavaScript:

Funktionen toggleMenu tilføjer eller fjerner klassen show på menuen, som styrer dens synlighed. */
  .lottiefile {
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    align-items: center;
  }
  .ms_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  h1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 5px; /* Afstand mellem bogstaverne */
    text-align: left;
  }

  h1 span {
    display: block;
    color: #120f0a;
  }
  .fs_h1 {
    display: none;
  }
  .grid_5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 5%;
  }
  .tema_class {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .gridrow_2 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin: 4%;
  }
  .gridrow_3 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin: 4%;
  }

  .tema_pic {
    width: 100%;
  }
  .tema_text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: left;
  }
}

@media (min-width: 800px) {
  .fs_menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12em;
    padding-right: 6em;
  }
  .burger-menu {
    display: none;
  }
  .ms_h1 {
    display: none;
  }
  .fs_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }
  .grid_5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }

  .tema_box {
    padding: 25%;
    border: 1px solid #120f0a;
    text-align: center;
  }

  .tema_class {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .gridrow_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;

    align-items: start;
  }
  .tema_grid {
    padding-right: 6em;
  }
  .tema_pic {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .tema_grid_2 {
    padding-right: 2em;
  }
  .gridrow_3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .tema_grid_3 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .tema_grid_4 {
    padding-right: 4em;
  }
}
